////
/// Variables
////

@import '../../theme.json';

/// Colour Palette
/// @link: http://chir.ag/projects/name-that-color

$c-jumbo:       #7C7984; // Content, buttons
$c-cape-cod:    #3d4143; // Footer, top bar

$c-astral:      #326e9b; // header


$c-white:       #fff;
$c-black:       #000;
$c-blue:        #2e6da4;
$c-light-grey:  #858e97;
