// Breakpoints
$mobile: 320px;
$large-mobile: 480px;
$small-tablet: 768px;
$tablet: 1024px;
$small-desktop: 1280px;
$medium-desktop: 1480px;
$desktop: 1680px;

// Colours
$light-grey: #EEEEEE;
$medium-grey: #515151;
$dark-grey: #333333;

$background-color: #f3ede7;
$brand-color: #3c414a;
$black: #000000;
$white: #FFFFFF;

$link-color: #ff5800;
$link-color-hover: #00A3E2;

// Typography
$body-font-size: 16px; // 16px (100%)
$body-font: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$body-font-weight: 400;
$body-line-height: 1.5; // 24px
