// Breakpoints
$mobile: 480px;
$small-tablet: 768px;
$tablet: 1024px;
$small-desktop: 1280px;
$desktop: 1480px;

// Colours
$background-color: #f3ede7;
$brand-color: #3c414a;
$black: #000000;
$white: #FFFFFF;

$text-color: #666;
$title-color: #ff5800;

$bar-width: 700px;
$bar-height: 30px;

// Typography
$heading-font: 'Raleway', sans-serif;
$body-font-size: 18px;
$body-font: 'Open Sans', sans-serif;
$body-font-weight: 500;
$body-line-height: 1.4;
